<label>
  <span hlmLarge>Phone numbers</span>
  <div>
    <div ngModelGroup="values">
      @for (phone of phonenumbers! | keyvalue; track phone.key) {
        <div angular-monorepo-control-wrapper>
          <div class="mt-3 flex gap-2">
            <input
              hlmInput
              type="text"
              [ngModel]="phonenumbers?.[phone.key]"
              name="{{ phone.key }}"
            />
            <button hlmBtn (click)="removePhone(phone.key)" variant="destructive">
              Remove number
            </button>
          </div>
        </div>
      }
    </div>
    <div angular-monorepo-control-wrapper>
      <div class="mt-3 flex gap-2">
        <input hlmInput type="text" [(ngModel)]="addValue" name="addValue" />
        <button hlmBtn (click)="add($event)" role="button">Add</button>
      </div>
    </div>
  </div>
</label>
