<label>
  <span hlmLarge>Phone numbers</span>
  <div>
    <div ngModelGroup="values">
      @for (phone of phoneNumbers! | keyvalue; track phone.key) {
        <div class="mt-3 flex gap-2">
          <input
            hlmInput
            type="text"
            [ngModel]="phoneNumbers?.[phone.key]"
            name="{{ phone.key }}"
          />
          <button hlmBtn (click)="removePhone(phone.key)">Remove number</button>
        </div>
      }
    </div>
  </div>
  <div class="mt-3 flex gap-2">
    <input hlmInput type="text" [(ngModel)]="addValue" name="addValue" />
    <button hlmBtn (click)="add()">Add</button>
  </div>
</label>
