<div>
  <label hlmLabel>
    <span>Street</span>
    <input type="text" [(ngModel)]="address.street" name="street" hlmInput />
  </label>
</div>
<div>
  <label hlmLabel>
    <span>Number</span>
    <input type="text" [(ngModel)]="address.number" name="number" hlmInput />
  </label>
</div>
<div>
  <label hlmLabel>
    <span>City</span>
    <input type="text" [(ngModel)]="address.city" name="city" hlmInput />
  </label>
</div>
<div>
  <label hlmLabel>
    <span>Zipcode</span>
    <input type="text" [(ngModel)]="address.zipcode" name="zipcode" hlmInput />
  </label>
</div>
<div>
  <label hlmLabel>
    <span>Country</span>
    <input type="text" [(ngModel)]="address.country" name="country" hlmInput />
  </label>
</div>
